<% provide(:title, t("sign_in.title")) %>
<% provide(:page_header_title, t('sign_in.page_header_title')) %>
<% provide(:panel_header_title, t('sign_in.panel_header_title')) %>
<% provide(:panel_footer_link, raw(t("sign_in.panel_footer_link",
                                     sign_up_link: link_to(t("sign_in.sign_up_link_text"), signup_path)))) %>

<%= bootstrap_form_for(:session, url: sessions_path, html: { role: "form" }) do |session_fields| %>
    <%= session_fields.text_field :email %>
    <%= session_fields.password_field(:password, control_col: 8) %>

    <% flash.each do |key, value| %>
        <% if key == :authenticate_error %>
            <div class="row margin-top-10 margin-bottom-10">
              <div class="col-xs-12">
                <div class="text-danger"><i class="fa fa-info-circle text-danger"></i>&nbsp;<%= value %></div>
              </div>
            </div>
        <% end %>
    <% end %>


    <div class="col-md-12">
      <div class="checkbox">
        <label>
          <%= fields_for :additional do |additional_fields| %>
              <%= additional_fields.check_box :remember_me %> <%= t('sign_in.remember_me_check_box') %>
          <% end %>
        </label>
      </div>
    </div>

    <div class="margin-top-20 margin-bottom-20">
      <div class="col-md-12">
        <%= session_fields.submit t('sign_in.sign_in_submit'), class: "btn btn-primary" %>
      </div>
    </div>
<% end %><!-- /form -->