<% provide(:title, short_user_name(current_user)) %>
<% provide(:header_title, t("project.users.new.head_title")) %>

<div class="page-content inset">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default panel-sm center-block">
        <div class="panel-body">
          <%= form_for @user, html: { class: "form-horizontal", role: "form" } do |user_fields| %>

              <div class="row">
                <div class="col-sm-12 margin-top-20 margin-bottom-15">
                  <%= image_tag("user_no_foto.jpg", alt: "Avatar", class: "img-circle avatar-lg center-block") %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 text-center">
                  <%= link_to root_path do %>
                      <i class="fa fa-pencil fa-fw"></i><small>&nbsp<%= t("default.controls.edit") %></small>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-12 border-row margin-bottom-40 margin-top-40"></div>

              <%= render "default/block_title", title: t("default.user.block_title.account") %>

              <%= render "default/text_input_with_label",
                         class_name: user_fields,
                         name: :email,
                         label_text: t("default.user.label.email"),
                         required_field: true %>

              <%= render "default/text_input_with_label",
                         class_name: user_fields,
                         name: :password,
                         label_text: t("default.user.label.password"),
                         required_field: true %>

              <%= render "default/text_input_with_label",
                         class_name: user_fields,
                         name: :password_confirmation,
                         label_text: t("default.user.label.password_confirmation"),
                         required_field: true %>

              <%= render "default/language_select_input_with_label",
                         class_name: user_fields,
                         name: :language %>

              <div class="col-sm-12 border-row margin-bottom-40 margin-top-40"></div>

              <%= render "default/block_title", title: t("default.person.block_title.profile") %>

              <%= user_fields.fields_for :person do |person_fields| %>

                  <%= render "default/text_input_with_label",
                             class_name: person_fields,
                             name: :last_name,
                             label_text: t("default.person.label.last_name"),
                             required_field: true %>

                  <%= render "default/text_input_with_label",
                             class_name: person_fields,
                             name: :first_name,
                             label_text: t("default.person.label.first_name"),
                             required_field: true %>

                  <%= render "default/text_input_with_label",
                             class_name: person_fields,
                             name: :middle_name,
                             label_text: t("default.person.label.middle_name"),
                             required_field: false %>

                  <%= render "default/sex_radio_button",
                             class_name: person_fields %>


                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Дата рождения*</label>
                    <div class="col-sm-7">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                  </div>

              <% end %>

              <div class="col-sm-12 border-row margin-bottom-40 margin-top-40"></div>
              <div class="row">
                <div class="col-sm-9 col-sm-offset-3 margin-bottom-20 text-muted">
                  <h4 class="lead">Дополнительные адреса эл. почты</h4>
                </div>
              </div>
              <div class="form-group inline-group">
                <div class="col-sm-3 col-sm-offset-3">
                  <select class="form-control">
                    <option>Домашний</option>
                    <option>Рабочий</option>
                    <option>Личный</option>
                    <option>Другой</option>
                  </select>
                </div>
                <label for="inputKey" class="sr-only">Email</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputKey" placeholder="Email">
                </div>
                <div class="col-sm-2 control-label">
                  <%= link_to root_path, class: "pull-left" do %>
                      <i class="fa fa-trash-o fa-fw"></i><small>&nbsp<%= t("project.controls.delete") %></small>
                  <% end %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                  <%= link_to root_path do %>
                      <i class="fa fa-plus fa-fw"></i><small>&nbsp<%= t("project.controls.add") %></small>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-12 border-row margin-bottom-40 margin-top-40"></div>
              <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                  <%= user_fields.submit t("project.controls.save"), class: "btn btn-large btn-primary" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("project.controls.cancel") %></button>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>