<div class="container">
  <div class="row first">
    <div class="col-md-4">
      <address>
        <strong> <%= t("static_pages.footer.contacts.title") %></strong><br>
        <br>
        Москова, улица Лесная дом 14<br>
        <a href="#">Посмотреть на карте</a><br>
        +7(495) 643-6693<br>
        <a href="mailto:#">info@marketbymarket.ru</a>
      </address>
    </div>
    <div class="col-md-4">
      <p>
        <strong><%= t("static_pages.footer.about.title") %></strong><br>
        <br>
        <a href="#"><%= t("static_pages.footer.about.vendors") %></a><br>
        <a href="#"><%= t("static_pages.footer.about.suppliers") %></a><br>
        <a href="#"><%= t("static_pages.footer.about.shops") %></a><br>
        <a href="#"><%= t("static_pages.footer.about.logistics") %></a><br>
      </p>
    </div>
    <div class="col-md-4">
      <%= render 'layouts/footer_copyright' %>
    </div>
  </div><!--/.row .first -->
</div><!--/#container -->