<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= render "layouts/description" %>

  <%= stylesheet_link_tag    "application",   media: "all" %>
  <%= stylesheet_link_tag    "custom",   media: "all" %>
  <%= stylesheet_link_tag    "projects", media: "all" %>
  <%= stylesheet_link_tag    "sidebar",  media: "all" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "projects" %>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<div id="wrapper">

  <!-- Sidebar -->

  <%= render "layouts/projects_side_bar" %>

  <!-- Page content -->

  <div id="page-content-wrapper" class="container">

    <!-- Content header -->

    <div class="content-header">
      <div class="row">

        <!-- Current user -->

        <div id="current-user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag("demo_avatar.jpg", alt: "Avatar", class: "img-circle avatar") %>
            <p>Прохор Митрич</p>
            <i class="fa fa-caret-down fa-lg"></i>
          </a>
          <ul class="dropdown-menu pull-right" role="menu">
            <li><a href="#"><i class="fa fa-lg fa-users"></i>Профиль</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-lg fa-sign-out"></i>Выход</a></li>
          </ul>
        </div>

        <!-- Menu toggle -->

        <div id="btn-menu-toogle" class="col-sm-12 visible-xs">
          <button id="menu-toggle"
                  type="button"
                  class="btn btn-default"
                  data-toggle="collapse"
                  data-target=".sidebar-collapse">
            <i class="fa fa-bars fa-lg text-muted"></i>
          </button>
        </div>

        <!-- Content title -->

        <div class="title col-sm-6">
          <h1>Пользователи</h1>
        </div>
      </div>
    </div>

    <!-- Content -->

    <div class="page-content inset">
      <%= yield %>
      <div class="row">
        <div class="col-md-12">
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </div>
  </div>

</div><!-- /#wrapper -->

</body>
</html>